<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title || 'Travel-planner' %></title>
    <link href= "/dist/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="/public/js/index.js" defer></script>
</head>
<body>

    <header>
        <h1 class="logo"><a href="/">Travel-planner</a></h1>
        <div>
            <a href="#">Log in</a>
            <a href="#">Sign up</a>
        </div>
    </header>
