@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap);

//Font variables
$roboto: 'Roboto', sans-serif;

//Colors
$primary-color: rgba(255, 255, 255, 1);
$secondary-color: hsla(0, 3%, 92%, 0.61);
$accent-color: hsl(0, 75%, 51%);
