<%- include('partials/head', { title: "Travel-planner - Get started" }); %>

<main>
    <section class="hero">
        <h2>Plan your trip!</h2>
        <h3>Click on the destinations of your choice to create a route.</h3>
    </section>
    <div id="map"></div>
    <div class="details-container" id="route-details"></div>
</main>

<script src="public/js/maps.js" defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap" defer></script>
<%- include('partials/footer') %>