<%- include('partials/head', {title: "Travel-planner - Home"}); %>
    <main>
        <section class="hero">
            <h2>Plan your travels with Travel-planner</h2>
            <h3>Discover, build and map your destinations in a free travel app designed for vacations and road trips</h3>
            <a href="get_started">Start planning</a>
        </section>

        <section class="planning-section">
            <div>
                <img src="/public/assets/images/planning.jpg" alt="Planning">
                <div>
                    <h3>Planning vacations has never been easier</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci praesentium id nesciunt eius facere deserunt suscipit inventore ducimus excepturi magni.</p>
                </div>
            </div>
        </section>

        <article class="feature-article">
            <h3>Features to replace all your other tools</h3>

            <section class="feature-section">
                <div class="feature-card">
                    <img src="public/assets/images/routes.jpg" alt="img">
                    <div>
                        <h4>Plan your routes</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, expedita.</p>
                    </div>
                </div>
    
                <div class="feature-card">
                    <img src="public/assets/images/routes.jpg" alt="img">
                    <div>
                        <h4>Optimize your routes</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, expedita.</p>
                    </div>
                </div>
    
                <div class="feature-card">
                    <img src="public/assets/images/routes.jpg" alt="img">
                    <div>
                        <h4>Import flights and hotel reservations</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, expedita.</p>
                    </div>
                </div>
    
                <div class="feature-card">
                    <img src="public/assets/images/routes.jpg" alt="img">
                    <div>
                        <h4>Get personalized suggestions</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, expedita.</p>
                    </div>
                </div>
    
                <div class="feature-card">
                    <img src="public/assets/images/routes.jpg" alt="img">
                    <div>
                        <h4>Collaborate with friends and family</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, expedita.</p>
                    </div>
                   
                </div>
    
                <div class="feature-card">
                    <img src="public/assets/images/routes.jpg" alt="img">
                    <div>
                        <h4>Rate places you've visited</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, expedita.</p>
                    </div>
                </div>
            </section>
        </article>

        <section class="hero">
            <h4>Are you ready to to plan your trips in half the time?</h3>
            <a href="get_started">Start planning</a>
        </section>
    </main>
<%- include('partials/footer') %>
