// Utilities
@use 'utilities/variables' as v;


// Components
@use 'components/header';
@use 'components/hero';
@use 'components/planning-section';
@use 'components/feature-article';
@use 'components/button';
@use 'components/map';
@use 'components/footer';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: v.$roboto;
}

body {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100dvh;
    background-color: v.$primary-color;
}

main{
    margin-top: 6rem;
    flex-grow: 1;
    min-width: 100%;
    max-width: 1500px;
}